body {
    font-family: sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.journal-entry-form {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    box-sizing: border-box;
}

.date-section {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.date-header {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #FFFFED;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

.entry {
    margin-bottom: 10px;
    text-decoration: none;
}

.entry a {
    text-decoration: none; /* Remove underline from links */
    color: #333; /* Dark gray text color */
    display: block; /* Make the whole list item clickable */
    padding: 5px;
    border: 1px solid transparent; /* A transparent border to maintain spacing */
}

.entry a:hover {
    background-color: #f0f0f0; /* Highlight on hover */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.timestamp {
    font-weight: bold;
    color: #555;
}

.time-elapsed {
    color: #888;
    font-style: italic;
    font-size: 0.9em;
    margin-left: 10px;
}

.hidden {
    display: none;
}
